*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 80%;
    padding :34px;
    margin: auto;
}
.container h1,p {
    text-align: center;
    background-color: rgb(196, 134, 221);
    
}
.container p{
    font-size: 18px;
    
    
}
input , textarea{
    width: 80%;
    border: 1px solid;
    border-radius: 14px;
    outline:none;
    margin: 5px;
    padding: 6px;
    height: 15px;
    font-size: 14px;
}
form{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}
button{
    width: 80px;
    padding: 9px;
    color: cornsilk;
    background-color: rgb(128, 67, 128);
    cursor: pointer;
    
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
}